* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans;
	color: #1f2949;
}

.main_page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.subtitle_cover {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width:100%;
	height: 160px;
	padding-left: 200px;
	padding-right: 200px;
*/}

.subtitle_cover img {
	height: 10px;
	width: 10px;

}

.subtitle_cover h1 {
	font-weight: 700;
	font-size: 40px;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 150px;
}

.home {
	font-size: 18px;
	padding: 5px;
	font-weight: 700;
}

.qollanma {
	font-size: 16px;
	font-weight: 700;
	padding: 5px;
}

.contents {
	width: 800px;
	height: 180px;
	margin: 30px;
}

ol {
	padding-left: 20px;
}

.contents h2 {
	padding-bottom: 15px;
}

ol li {
	padding: 5px;
	font-weight: bold;
}

.instructions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	line-height: 35px;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;
}

.sec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding-top: 30px;
	width: 810px;
}

.sec h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

.sec_img {
	width: 810px;
}

.small {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.sec_p, .sec_last {
	font-weight: bolder;
}

.sec_last {
	margin-bottom: 100px;
}

svg {
	width: 400px;
	height: 2.5px;
	background: #000;
	margin-top: 30px;
}




